*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 2rem;
}

.active{
    background-color: rgb(74, 46, 202);
    color: white;
}

span{
    color: gray;
}

.side-panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.search-icon{
    cursor: pointer;
    padding: 8px;
    font-size: 25px;
    margin-top: 1rem;
}

.mid-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transform: translateY(-15vh);
}

.lower-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transform: translateY(-10vh);
}

.account-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 10;
}

.profile{
    display: flex;
    margin-left: 1vw;
    align-items: center;
    margin: 1rem;
}

.profile-image > span{
    font-size: 5rem;
}


.profile-name{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.mid-icons > span, .lower-icons > span{
    padding: 8px;
    transition: 0.4s;
    border-radius: 10px;
    font-size: 25px;
}

.mid-icons > span:hover, .lower-icons > span:hover{
    background-color: rgb(74, 46, 202);
    color: white;
    cursor: pointer;
}

.account-details{
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.8vw;
}

.account-details > p{
    margin: 1.2vh;
}

.account-details > div { 
    margin: 1.2vh;
}

button{
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    background-color: rgb(74, 46, 202);
    color: white;
    outline: none;
    border: none;
    margin-top: 2vh;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.recent-transactions{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    margin: 1.8vw;
}

.recent-transactions > h3{
    margin: 1.2vh;
}

.recent-transactions > div {
    margin: 1.2vh;
}

.mid-section {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 12;
}

.retirement-section{
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
}

.retirement-section > .details > h3{
    color: rgb(74, 46, 202);
}

.retirement-section > .stats{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 4vh;
}

.retirement-section > .stats > .stat{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.retirement-section>.stats > .stat > .line{
    border-bottom: 2px solid rgb(74, 46, 202);
}

.chart > p{
    margin: 1rem
}

.chart > div{
    width: 40vw;
    margin: 1vh;
    height: 30vh;
}

.peers{
    margin: 1rem;
}

.loaders{
    display: flex;
    gap: 1rem;
}

.peers > h3 , .peers > span{
    margin-top: 2vh;
}

.genres{
    font-size: 16px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.genre > span{
    color: darkgray;
}

.stat-progress-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-container-main{
    display: flex;
}

.progress-container {
    display: flex;
    width: 20vh;
    padding: 20px 0;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
}

/* Styles for the filled progress */
.circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(47, 206, 234) 270deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 80px;
    width: 80%;
    border-radius: 50%;
    background-color: white;
}

.circular-progress2 {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(47, 206, 234) 345deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress2::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80%;
    border-radius: 50%;
    background-color: white;
}

.circular-progress3 {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(47, 206, 234) 200deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress3::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80%;
    border-radius: 50%;
    background-color: white;
}

/* Styles for the text inside the circle */
.progress-value {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.end-section{
    flex: 8;
    padding: 10px;
}

.end-section > .retirement{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin: 1rem;
    gap: 1rem;
}

.contribution-flex, .interest-flex{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.employee-data{
    display: flex;
    flex-direction: column;
}

.container {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
}

.seek {
    background-color: rgb(49, 161, 247);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    height: 1vh;
}

.contribution {
    width: 80%;
}

.age {
    width: 60%;
}

.line-gray{
    width: 20vw;
    height: 1px;
    background-color: gray;
}

.line-purple{
    width: 3px;
    height: 11vh;
    background-color: rgb(74, 46, 202);
}

.finance-section{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}